__pycache__/

build/
dist/

article/article.aux
article/article.fdb_latexmk
article/article.fls
article/article.log
article/article.out
article/article.synctex.gz

.vscode/

utilities_old/

gaussian_pulse*
# interpolation_example_*

~*